[submodule "3rd_party/JUCE"]
	path = 3rd_party/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "3rd_party/neo-fft"]
	path = 3rd_party/neo-fft
	url = https://github.com/neo-sonar/neo-fft.git
